# IDE storage
.idea/

# MacOS's finder storage
.DS_Store

# Python cache
__pycache__/

# Enviroment sotrage
.venv/

# My drafts and notes
.drafts/

# Poetry cache
poetry.lock

# Mypy cahce
.mypy_cache/

# Pytest cache
.pytest_cache/
.coverage

# Tests coverage data
htmlcov

# .env file (used for caverall)
.env

# Tox enviroment
.tox/